body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5; 
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    width: 340px; 
    background-color: #ffffff; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    text-align: center;
}

h1 {
    color: #0056b3; 
    margin-bottom: 20px; 
}

input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #0056b3; 
    border-radius: 4px; 
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745; 
    color: white;
    border: none;
    border-radius: 4px; 
    cursor: pointer;
    transition: background-color 0.3s; 
}

button:hover {
    background-color: #218838; 

    #results {
        text-align: left; 
        color: #333; 
        font-size: 16px; 
        line-height: 1.6; 
        margin-top: 20px; 
        padding: 10px; 
        background-color: #f8f9fa; 
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); 
    }
}   